* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  :root {
    --board-size: 400px;
    --dimension: 4;
    --font-size: 1.5rem;
  }
  
  
  .board{
    display: grid;
    margin: auto;
    grid-template-columns: repeat( var(--dimension), calc(var(--board-size)/var(--dimension)));
    position: relative;
    width: var(--board-size);
    height: var(--board-size);
    border: 2px solid blue;
  }
  
  .queen{
    max-height:100%; 
    max-width:100%;
  }

  .queen:hover{
    cursor: pointer;
  }
  
  
  .cell{
    width: calc(var(--board-size)/var(--dimension) );
    height: calc(var(--board-size)/var(--dimension) );
  }

  .cellButton{
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
  }

  .blackcell {
    background-color: rgb(29, 25, 18);
  }
  
  .whitecell{
    background-color:rgb(216, 215, 213);
  }

  .selectedLayer{
    background-color: rgba(0, 237, 115, 0.523);
  }

